<%
const color = 'red';
%>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>



<body>

<!-- <a href="/theme/dark">Light</a>
<a href="/theme/dark">dark</a> -->

<form action="welcome" method="GET"> <!--the action tag means to who u want to send it, GET is the
default value of Method tag-->
    <label for="fname"> First Name: </label><br>
    <input type="text" id="fname" name="fname"><br>
    <input type="submit">
</form>

</body>



</html> 